.bg{
    background-image: url("https://64.media.tumblr.com/14b1a8ac96d048814880b629f9d5b347/56ddd074e31816ab-6f/s400x600/4d8ad792558d6ea74a812e7126c490a0ae4a219f.png");
    background-size: 16px 16px;
    background-position-x: 0;
    background-repeat: no-repeat;
}
.p{
    padding-left: 16px;
}