.checked{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSijKxoVIuHKIPePpLoluTd_hj7kQgX4GgZw&usqp=CAU");
    background-size: 16px 16px;
    background-position-x: 0;
    background-repeat: no-repeat;
    padding-left: 16px;
}