body{
    width: 960px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin: auto;
    font-family: Arial, "Arial", serif;
}
header{
    background-image: url("https://cdn.discordapp.com/attachments/999343612980641792/1047520171377561701/bgsky3.jpg");
    height: 200px;
    color: darkblue;
    text-align: center;
    display: inline-block;
    position: relative;
}
header>p:first-child{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
}
header>p:nth-child(2){
    font-size: 240%;
    font-weight: bold;
}
header>img{
    z-index: 10;
    float: right;
    vertical-align: top;
    position: absolute;
    bottom: 60px;
    right: 90px;
}
footer{
    display: inline-block;
    box-sizing: border-box;
    width: 960px;
}
footer>div:first-child{
    background-color: #666666;
    color: white;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    line-height: 2em;
    width: 960px;
}
footer>div>div:first-child{
    width: min-content;
    padding-left: 120px;
}
footer>div>div:nth-child(2) {
    padding-left: 120px;
}
footer>div:last-child{
    background-color: white;
    color: black;
    display: inline-block;
    width: 960px;
    text-align: center;
    clear: both;
}