main>article:nth-child(odd) img{
    float: right;
}
main>article:nth-child(even) img{
    float: left;
}
article{
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: }
img{
    margin: 10px;
}