h1, li{
    font-family: Arial, "Arial", serif;
    font-size: 1.8em;
}
h2, li{
    font-family: Arial, "Arial", serif;
    font-size: 1.5em;
}
h3, li{
    font-family: Arial, "Arial", serif;
    font-size: 1.4em;
}
p{
    font-family: TimesNewRoman, "Times New Roman", serif;
    font-size: 1.2em;
}
.class-rood{
    color: red;
}
.class-groen{
    color: green;
}
.class-blauw{
    color: blue;
}